@font-face {
  font-family: "bebas";
  src: url("../fonts/BebasNeue-Regular.ttf");
  src: url("../fonts/BebasNeue-Regular.otf");
  src: url("../fonts/BebasNeue-Regular.woff");
  src: url("../fonts/BebasNeue-Regular.woff2");
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  padding-top: 130px;
  background-color: #590209;
}

/* Button */
.btn-food {
  width: 50%;
  background-color: #0D0D0D;
  color: #fff;
  font-family: "bebas";
  font-size: 25px;
  padding: 20px;
  margin-top: 10px;
  border-radius: 15px;
  border: 0;
  text-decoration: none;
  transition: 0.5s;
}

h1 {
  font-family: "bebas";
  font-size: 35px;
  color: #ffffff;
}

/* modal */
.modal-content {
  border: 5px solid #D9183B;
  border-radius: 5px;
}

.modal-arg h5 {
  font-family: "bebas";
  font-size: 35px;
}

.modal-arg-body {
  font-family: "bebas";
  font-size: 25px;
}

.btn-food:hover {
  background-color: #D9183B;
  transition: 0.5s;
}

.img-nav {
  width: 10%;
  border: 5px solid #590209;
  border-radius: 2rem;
}

.navbar {
  font-family: "bebas";
  font-size: 20px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 999;
  background-color: #ece1e1;
  border-bottom: 5px solid #0D0D0D;
  transition: 0.5s;
}

.nav-link.active:hover {
  color: #BF0413;
  transition: 0.5s;
}

.navbar-toggler-icon {
  color: #0D0D0D;
}

.container-carousel {
  background-color: black;
}

/* Header banner*/
.banner {
  position: relative;
  width: 100%;
  /*     height: 350px; */
  height: 600px;
  overflow: hidden;
}
.banner img {
  position: absolute;
  width: 100%;
  height: 100%;
}
.banner .black-screen {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3960784314);
  width: 100%;
  height: 100%;
  text-align: center;
  z-index: 99999;
}
.banner h1 {
  padding-top: 7%;
  font-family: "bebas";
  color: #ffffff;
  /* anim */
  animation-name: argen-title;
  animation-duration: 2s;
}
.banner p {
  font-family: "bebas";
  margin-top: 10px;
  color: white;
  /* anim */
  animation-name: argen-title;
  animation-duration: 2s;
}

.maps-google {
  width: 100%;
  height: 600px;
  max-height: 50%;
  border: 0;
}

/* respuesta */
.thanks h1 {
  font-family: "bebas";
  font-size: 35px;
}

.thanks h2,
.thanks h3 {
  font-family: "bebas";
  font-size: 25px;
  color: #ece1e1;
  margin: 15px;
}

/* Anima */
@keyframes argen-title {
  from {
    opacity: 0;
  }
  to {
    opacity: 100%;
  }
}
/* Content */
.content-food {
  width: 100%;
  /*    padding: 30px; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #590209;
}

.item {
  font-family: "bebas";
  width: 25%;
  min-height: 250px;
  /*     min-width: 100%; */
  color: white;
  margin: 30px;
  /*     padding: 20px; */
  position: relative;
  overflow: hidden;
  border: 5px solid #D9183B;
  border-radius: 10px;
  /* animation */
  animation-name: itemmove;
  animation-duration: 2s;
}
.item figure {
  position: absolute;
  text-align: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5137254902);
  z-index: 99;
}
.item .google-maps-1 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -99;
  width: 100%;
  height: 100%;
}
.item img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

@keyframes itemmove {
  0% {
    /*         width:0; */
    transform: scale(0);
    -webkit-filter: blur(0);
  }
  50% {
    -webkit-filter: blur(5);
  }
  100% {
    /*         width: 25%; */
    transform: scale(1);
    -webkit-filter: blur(0);
  }
}
.banner-know {
  font-family: "bebas";
  color: #ffffff;
  font-size: 25px;
  text-align: center;
  margin: auto;
}

.footer {
  width: 100%;
  background-color: #0D0D0D;
  color: rgb(255, 255, 255);
  /*     padding: 20px; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.contact {
  width: 50%;
  padding: 20px;
}

.social {
  width: 50%;
  padding: 20px;
}

/* Contact Form */
.content-contact {
  width: 100%;
  background-color: #590209;
}
.content-contact h1 {
  color: white;
  font-family: "bebas";
  text-align: center;
}

.form-food {
  width: 100%;
  text-align: center;
  padding: 50px;
}
.form-food label {
  font-family: "bebas";
  color: white;
  font-size: 30px;
}

.form-food label,
.form-food input,
.form-food textarea {
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  max-height: 200px;
}

.form-food input,
.form-food textarea {
  height: 50px;
  border: 5px solid #BF0413;
  border-radius: 30px;
}

.form-food input[type=text],
.form-food input[type=tel],
.form-food input[type=email],
textarea {
  font-family: "bebas";
  font-size: 30px;
  padding: 30px;
}

.form-food input[type=submit] {
  height: auto;
}

/* .form-food input[type=submit]{
    width: 50%;
} */
/* SASS */
.h1-contact {
  background-color: #590209;
  color: #fff;
}

.grid-caja {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  justify-content: stretch;
}
.grid-caja .caja-contact {
  background-color: #D9183B;
  text-align: center;
  padding: 20px;
  margin: 15px auto;
  border: 5px solid #fff;
  border-radius: 15px;
}
.grid-caja .caja-contact h2 {
  font-family: "bebas";
  color: #fff;
}
.grid-caja .caja-contact a {
  text-decoration: none;
  color: #fff;
  transition: 0.5s;
}
.grid-caja .caja-contact a:hover {
  color: black;
  transition: 0.5s;
}

/* Footer */
.footer h2 {
  font-family: "bebas";
  font-size: 35px;
}
.footer p {
  font-family: "bebas";
  font-size: 25px;
}

/* SASS */
/* Responsive */
@media (max-width: 1500px) {
  .navbar-collapse {
    width: 100%;
    font-size: 20px;
  }
}
@media (max-width: 992px) {
  /* BODY */
  body {
    padding-top: 75px;
  }
  /* NAVBAR */
  .navbar.navbar-expand-lg .container-fluid {
    position: relative;
    top: 0;
  }
  .img-nav {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 15px;
    max-height: 100%;
    width: 10%;
  }
  .navbar-nav {
    padding-top: 20px;
  }
  /* Header */
  .banner {
    height: 300px;
  }
  /* Content */
  .item {
    width: 100%;
  }
  /* footer */
  .contact {
    width: 100%;
  }
  .social {
    width: 100%;
  }
  .c1 {
    width: 85%;
    grid-column: 1/4;
  }
  .c2 {
    width: 85%;
    grid-column: 1/4;
  }
  .c3 {
    width: 85%;
    grid-column: 1/4;
  }
}

/*# sourceMappingURL=estilo.css.map */
