@import url(font.css);
$color-principal: #D9183B;
$color-secundario: #fff;

.h1-contact {
    background-color: $color-principal;
    color: $color-secundario;
}

.grid-caja {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    justify-content: stretch;

    @mixin caja-personalizada($fondo: #D9183B) {
        background-color: $fondo;
        text-align: center;
        padding: 20px;
        margin: 15px auto;
        border: 5px solid $color-secundario;
        border-radius: 15px;

    }

    .caja-contact {
        @include caja-personalizada();

        h2 {
            font-family: "bebas";
            color: $color-secundario;
        }

        a {
            text-decoration: none;
            color: $color-secundario;
            transition: .5s;

            &:hover {
                color: black;
                transition: .5s;
            }
        }
    }
}

/* Footer */
.footer {
    h2 {
        font-family: "bebas";
        font-size: 35px;
    }

    p {
        font-family: "bebas";
        font-size: 25px;
    }
}

@media(max-width:992px) {
    .c1 {
        width: 85%;
        grid-column: 1 / 4;
    }

    .c2 {
        width: 85%;
        grid-column: 1 / 4;
    }

    .c3 {
        width: 85%;
        grid-column: 1 / 4;
    }
}